

.desktop-user {
    position: relative;
    height: 60px;
    margin: 0 20px 0 15px;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
.desktop-actions {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0;
    height: 40px;
    margin: 20px 30px 0 10px;
}
.desktop-bound {
    margin: auto;
    min-width: 980px;
    line-height: 80px;
}
.desktop-container {
    color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
}
body {
    width: 100%;
    overflow-x: hidden;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}