._1TzjCl .w0WEfC {
    width: 75%;
    padding-left: 16px;
}
._3F7kj3 {
    background-color: #fff;
    min-height: 600px;
    padding: 24px 32px;
    position: relative;
}
._3E8aIl {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}
._3F7kj3 ._3q7S5O {
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding-bottom: 20px;
}
._1M7g28 {
    background-color: #f5faff;
    padding: 20px;
    position: relative;
}
._1M7g28 ._1o0c4q {
    background: #2874f0;
}
._8NNVow, ._8NNVow:hover {
    box-shadow: none;
}
._2tiHgk {
    font-size: 12px;
    color: #878787;
    margin-bottom: 10px;
}


._2KpZ6l._3dESVI {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(10, 175, 32, 0.2);
    border: 10px;
}



div {
    display: block;
}
.fonts-loaded body, .fonts-loaded button, .fonts-loaded input, .fonts-loaded select, .fonts-loaded textarea {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
body, button, input, select, textarea {
   
    letter-spacing: -.2px;
}
body {
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
  
}
.yLyjMK ._3JSQZW {
    padding: 14px 24px;
    font-size: 14px;
}
._2KpZ6l._3dESVI {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
}


















